.title h1 {
font-size: 70px;

}

.title h2 {
color: white;

}

h2 {
color: white; 

}

h3 {
color:white;
}

p { 
color: white;

}

body {
        margin: 0;
	padding: 0;
	background-image: url('res/bg.png'); 
	background-size: cover;
	background-position: center;
	 


}

.title {
 margin: 0;
 padding: 0;
 background-position: center;
 background-size: cover;
 background-image: url('res/spacetitle.png') ; 

}


.footer p {
     color:black;
     background-color: white;
     font:cursive;

         }



 .logofix {

    position: fixed;
   z-index: 100;
   overflow: hidden;
   margin: 0;
   margin-bottom: 20px;
   background-color: rgba(0, 0, 0, 0.6);
   border-radius: 8px;
}

 .menufix {

   position: fixed;
   z-index: 50;
   overflow: hidden;
   margin: 0;
   margin-bottom: 20px;
  
   border-radius: 8px;
   padding-left: 50px;
   padding-bottom: 80px;
}



.menu ul li {
background: #000;
list-style: none;
height: 44px;
float: left;
padding: 10px 5px;

}

.menu ul li a {
width: 175px;
height: 40px;
line-height: 53px;
border-bottom: 4px solid #636393;
padding: 0px;
color: #fff;
font-size: 18px;
font-weight: lighter;
text-align: center;
text-decoration: none;
display: block;
-webkit-transition: .2s all linear;
-moz-transition: .2s all linear; 
-o-transition: .2s all linear;
transition: .2s all linear;

}

.menu li:nth-child(1) a {
border-color: #636393;
}

.menu li:nth-child(2) a {
border-color: #B5222D;
}

.menu li:nth-child(3) a {
border-color: #D4953C;
}

.menu li:nth-child(4) a {
border-color: #609491;
}

.menu li:nth-child(5) a {
border-color: #87A248;
}



.menu li:nth-child(1) a:hover {
border-bottom: 35px solid #636393;
height: 9px;
}

.menu li:nth-child(2) a:hover {
border-bottom: 35px solid #B5222D;
height: 9px;
}
 
.menu li:nth-child(3) a:hover {
border-bottom: 35px solid #D4953C;
height: 9px;
}

.menu li:nth-child(4) a:hover {
border-bottom: 35px solid #609491;
height: 9px;
}

.menu li:nth-child(5) a:hover {
border-bottom: 35px solid #87A248;
height: 9px;
}


.subtitle h2 {
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  font-style: italic;
  text-decoration: none;
}

.subtitle h3 {
 font-size: 40px;
}



.reviews {
        background-color: lightgrey;
	text-align: center;
	padding-bottom: 80px;
}

.reviews-content {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}

.reviews-1 {
        background-color: white;
	flex-basis: calc(20% - 40px);
	padding: 20px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	border-radius: 20px;
}

.reviews-1 img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin-bottom: 5px;
}

.reviews-1 h3 {
	color: blue;
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.reviews-1 p {
	margin-bottom: 0;

}
